
<nav mat-tab-nav-bar class="navbar navbar-expand-lg navbar-light bg-light">
  <a mat-tab-link class="navbar-brand" [routerLink]="['/']">Converter</a>
  <a mat-tab-link class="navbar-brand" [routerLink]="['/quotes']">Quotes</a>
</nav>
