<section>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Currency" #input>
  </mat-form-field>

  <table mat-table [dataSource]="quotes" class="mat-elevation-z8">
    <ng-container matColumnDef="currencyFrom">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="fill">
          <input matInput required minlength="3" maxlength="4" [(ngModel)]="newQuote.currencyFrom"
                 #currencyFrom="ngModel" type="text" placeholder="Currency from">
          <mat-error *ngIf="isFieldValid('currencyFrom')">Please enter correct currency</mat-error>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.currencyFrom}}</td>
    </ng-container>

    <ng-container matColumnDef="currencyTo">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="fill">
          <input matInput required minlength="3" maxlength="4" type="text" [(ngModel)]="newQuote.currencyTo"
                 #currencyTo="ngModel" placeholder="Currency to">
          <mat-error *ngIf="isFieldValid('currencyTo')">Please enter correct currency</mat-error>
        </mat-form-field>
      </th>

      <td mat-cell *matCellDef="let element">{{element.currencyTo}}</td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="fill">
          <input matInput required minlength="1" type="number" [(ngModel)]="newQuote.rate" #rate="ngModel"
                 placeholder="Rate">
          <mat-error *ngIf="isFieldValid('rate')">Please enter correct rate</mat-error>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">
        <span id="rate_{{element.id}}" [hidden]="isEdit[element.id]">{{element.rate}}</span>
        <input matInput required minlength="1" min="0.0000000001" autofocus type="number" id="input_rate_{{element.id}}"
               *ngIf="isEdit[element.id]" placeholder="Rate" value="{{element.rate}}">
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="fill">
          <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="newQuote.date" #date="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="isFieldValid('date')">Please enter correct date</mat-error>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.createdAt}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="align-right">
        <mat-icon class="save" (click)="onCreate()">done</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element" class="align-right">
        <mat-icon class="save" (click)="onSave(element.id)" *ngIf="isEdit[element.id]">done</mat-icon>
        <mat-icon class="edit" (click)="onEdit(element.id)" *ngIf="!isEdit[element.id]">edit</mat-icon>
        <mat-icon class="cancel" (click)="onCancel(element.id)" *ngIf="isEdit[element.id]">cancel</mat-icon>
        <mat-icon class="delete" (click)="onDelete(element.id)">delete</mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">No data</td>
    </tr>
  </table>

  <mat-paginator [length]="quotesCount"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="handlePageEvent($event)">
  </mat-paginator>
</section>
